* {
	pointer-events: none;
	user-select: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
	color: #333;
	font-family: sans-serif;
	font-weight: 100;
	transition: font-size 1s, font-weight 1s, opacity 1s ease-out;

	width: 100vw;
	height: 100vh;
}

.text, img {
	position: absolute;
	left: 50vw;
	top: 45vh;

	transform: translate(-50%, -50%);
}
img {
	opacity: 0;
	max-width: 100vw;
	max-height: 100vh;
	border-radius: 3px;
}

body.scratching {
	font-style: italic;
	font-size: larger;
	font-weight: 500;
}
body.scratching img {
	opacity: 0.1;
	transition: opacity 11s ease-in 4s;
}
