<!doctype html>
<html ng-app="po_ke_type" ng-controller="po_ke_type.site.html.controller as html">
<head>
    <title>Pokemon Type Calculator</title>
    <link rel="shortcut icon" type="image/png" href="images/pokeball.png"/>

    <link rel="stylesheet" ng-href="vendor/bootswatch/{{html.theme}}/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="pokedex/pkmn-icons.css">

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-hotkeys/angular-hotkeys.min.js"></script>
    <script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="templates.js"></script>
    <script src="index.js"></script>
</head>
<body class="container">

<div data-page-header></div>

<ng-view></ng-view>

</body>
</html>