<!DOCTYPE html>
<html>
<head>
	<title>Structured Links - SVG</title>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
	<script src="vue@2.6.14" type="text/javascript"></script>

	<link href="svg.css" rel="stylesheet">
	<script src="database.js"></script>
</head>
<body>
	<div id="root">
		<svg :view-box.camel="viewBox">
			<g class="center">
				<circle :cx="center.x" :cy="center.y" :r="center.r" />
				<a href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f">
					<text :x="center.x" :y="center.y" v-text="center.display"></text>
				</a>
			</g>

			<g v-for="s in stacks" :class="s.type + (s.circle.active ? ' active' : '')" v-on:mouseenter="hoverStart(s.circle)" v-on:mouseleave="hoverEnd">
				<path class="circle-stack-line" :d="s.path" />
				<circle class="small" :cx="s.circle.x" :cy="s.circle.y" :r="s.circle.r" />
			</g>

			<g v-for="s in stacks" class="stack">
				<!-- s.description as hover text -->
				<rect :x="s.x" :y="s.y" :width="s.width" :height="s.height"
					:class="s.active ? 'active' : ''" v-on:mouseenter="hoverStart(s)" v-on:mouseleave="hoverEnd" />
				<text :x="s.x + s.width / 2" :y="s.y + s.height / 2" v-text="s.display"></text>

				<rect class="children-container" :x="s.container.x" :y="s.y" :width="s.container.width" :height="s.height"></rect>

				<g v-for="c in s.children" :transform="translate(c.x, c.y)"
					:class="c.type + ' child' + (c.active ? ' active' : '')" v-on:mouseenter="hoverStart(c)" v-on:mouseleave="hoverEnd">

					<rect :x="0" :y="0" :width="c.width" :height="c.height"></rect>

					<!-- HACK duplicate markup -->
					<a v-if="c.link" :href="c.link"><text :x="c.width / 2" :y="c.height / 2" v-text="c.display"></text></a>
					<text v-if="!c.link" :x="c.width / 2" :y="c.height / 2" v-text="c.display"></text>
				</g>
			</g>
		</svg>
	</div>
	<script src="svg.js"></script>
</body>
</html>