:root {
	--color-bg: white;
	--color-lines: black;
	--color-bg-image: #abced488;

	--border-width: 0.1px;
	--path-width: 0.2px;
	--border-width-active: 0.3px;
}

body {
	font-family: Verdana, sans-serif;

	background-color: #fff;
	background-size: 6vmin 6vmin;
	background-position: 8px 20px;
	background-repeat: repeat;
	background-image:
		linear-gradient(to right, transparent 0px, var(--color-bg-image) 0px, var(--color-bg-image) 1px, transparent 1px),
		linear-gradient(to bottom, transparent 0px, var(--color-bg-image) 0px, var(--color-bg-image) 1px, transparent 1px);
}

svg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.center circle {
	fill: var(--color-bg); /* TODO color */
	stroke: var(--color-lines);
	stroke-width: var(--border-width-active); /* TODO size */
}

path.circle-stack-line,
circle.small {
	fill: var(--color-bg); /* TODO color */
	stroke: var(--color-lines);
	stroke-width: var(--path-width);
}
path.circle-stack-line {
	fill: none;
}
.active path.circle-stack-line,
.active circle.small {
	stroke-width: var(--border-width-active);
}

g.stack > rect,
g.stack .children-container {
	fill: var(--color-bg); /* TODO color */
	stroke: var(--color-lines);
	stroke-width: var(--border-width);
	rx: 3px; /* TODO change style, this is just temp for now */
}
g.stack > rect.active {
	stroke-width: var(--border-width-active);
}

text {
	fill: blue; /* TODO color */
	text-anchor: middle; /* horizontal center */
	alignment-baseline: middle; /* vertical center */
}
a:hover {
	text-decoration: underline;
}

g.child > rect {
	fill: var(--color-bg); /* TODO color */
	stroke: var(--color-lines);
	stroke-width: var(--border-width);
	rx: 1px; /* TODO change style, this is just temp for now */
}
g.child.active > rect {
	stroke-width: var(--border-width-active);
	/* TODO dropshadow */
	/* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); */
}
g.child.library > rect {
	fill: hsla(200, 100%, 50%, 0.1); /* TODO color */
}
g.child.spec > rect {
	fill: hsla(160, 100%, 50%, 0.1); /* TODO color */
}
g.child.standard > rect {
	fill: hsla(320, 100%, 50%, 0.1); /* TODO color */
}

g.stack > text {
	font-size: 3px; /* TODO size */
}
g.child > text,
g.child > a > text {
	font-size: 1.6px; /* TODO size */
}
g.child.active > * {
	transform: scale(1.125);
	transform-origin: 7.5px 1.5px; /* HACK this numbers are defined in js */
}
g.child > text {
	font-style: italic;
	opacity: 0.85;
}
.center text {
	font-size: 10px; /* TODO size */
}
